link(rel='stylesheet', href='main.css', type='text/css')
script(src='main.js')

#stage_wrap
	.ui.home
		.title_bar press any button to start or pause the game
	.ui.countdown
		.text
	.ui.paused
		.text paused!
	.ui.scored
		.text point scored!!


