doctype html
html
	head
		link(rel='stylesheet', href='../css/main.css', type='text/css')
		script(src='../lib/jquery/jquery.js')
		script(src='../lib/threejs/three.js')

	body
		#game_frame

	script(src='../js/main.js')
