doctype html
html
	head
		link(rel='stylesheet', href='../css/main.css', type='text/css')
		script(src='../lib/jquery/jquery.js')
		script(src='../lib/threejs/three.js')

	body
		#menu_frame
			#ok_logo
				| OpenKonsole
			ul#game_list
				li
					| first debug item
				li
					| second debug item
				li
					| third debug item

		#game_frame

	script(src='../js/main.js')
