doctype html
html
    head
        title = three.js - playground
    link(rel='stylesheet', href='../css/main.css', type='text/css')
    body
        #content
    script(src='../lib/jquery/jquery.js')
    script(src='../js/main.js')
