OpenKonsoleClientAndroid/bin/
OpenKonsoleClientAndroid/gen/
OpenKonsoleClientAndroid/.apt_generated/
OpenKonsoleServer/node_modules/
OpenKonsoleServer/releases/
OpenKonsoleServer/cache/
npm-debug.log
OpenKonsoleServer/pongApp/node_modules/
OpenKonsoleServer/pongApp/lib/
OpenKonsoleServer/bower_components/
OpenKonsoleServer/.idea/
OpenKonsoleServer/app/lib/
OpenKonsoleServer/app/node_modules/
OpenKonsoleServer/app/html/
