* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #333;
}

#menu_frame, #game_frame {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#menu_frame {
	z-index: 2;
	opacity: 1;
	transform: scale(1);
	transition: all linear 0.3s;
	background: rgba(0, 0, 0, 0.4)
}


#menu_frame #ok_logo {
	background: #777;
	float: left;
	width: 100%;
	margin-top: 130px;
	margin-bottom: 30px;
	font-family: sans-serif;
	color: white;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

#menu_frame ul {
	float: left;
	width: 100%;
}

#menu_frame ul li {
	float: left;
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
	background: #222;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
	list-style: none;
}

#menu_frame ul li.selected {
	background: #666;
}

#menu_frame.hidden {
	opacity: 0;
	transform: scale(1.2);
	-webkit-filter: blur(20px);
}