link(rel='stylesheet', href='main.css', type='text/css')
script(src='main.js')


div(template).player_info
    div.full.player_id
        | Player ID
    div.full.label
        | stick normalized:
    div.half.pos_x
        | 0
    div.half.pos_y
        | 0
    div.full.label
        | stick raw:
    div.half.pos_x_raw
        | 0
    div.half.pos_y_raw
        | 0
    div.half.btn.btn_A
        | Button A
    div.half.btn.btn_B
        | Button B
    div.half.btn.btn_C
        | Button C
    div.half.btn.btn_D
        | Button D
    div.full.btn.btn_START
        | Button START

canvas#stage(width='512', height='512')

    