{
  "name": "openkonsole-server",
  "version": "0.0.0",
  "description": "This subproject directory contains the server responsible for handling client input, running game logic and displaying the game on the screen.",
  "main": "main.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "node server.js"
  },
  "repository": {
    "type": "git",
    "url": "http://github.com/npm/npm.git"
  },
  "author": "",
  "license": "BSD",
  "readmeFilename": "README.md",
  "devDependencies": {
    "grunt": "^0.4.4",
    "grunt-node-webkit-builder": "^0.1.20"
  }
}
