#!/bin/bash

TEST_DIR="node-webkit-test"
REQUIRED_FILES="test_stick_position_api_async.html server.js main.js"

cp $REQUIRED_FILES $TEST_DIR

cd $TEST_DIR
rm app.nw
zip app.nw $REQUIRED_FILES package.json
cd ..
cd node-webkit-v0.9.2-linux-x64
./nw ../node-webkit-test/app.nw