doctype html
html
	head
		title = three.js - playground
		script(src='../lib/js/threejs/three.min.js')
		script(src='../js/server.js')
		script(src='../js/main.js')
		link(rel='stylesheet', href='../css/main.css', type='text/css')
	body
		#stage_wrap
			.ui.home
				.title_bar press any button to start or pause the game
			.ui.countdown
				.text
			.ui.paused
				.text paused!
			.ui.scored
				.text point scored!
		script(src='../js/pong.js')